@import-normalize;

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom left, #79C7C5 40%, #F9FBFF 100%);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}